*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url(../imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    color: white;
    font-family: Arial, sans-serif;
}



nav.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;

    background: rgba(0, 0, 0, 0.95);

    border-bottom: 2px solid #c94cff;

    z-index: 1000;
}



.logo{
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.menu{
    display: flex;
    gap: 35px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.menu a:hover{
    color: #c94cff;
}


main{
    padding-top: 120px;
}

/* TITULOS */

h2{
    text-align: center;
    margin-bottom: 20px;
    color: #f110f1;
    font-size: 35px;
}

h3{
    margin-top: 30px;
    margin-bottom: 15px;
    color: #f110f1;
}

h4{
    margin-top: 20px;
    margin-bottom: 10px;
}

h5{
    text-align: center;
    font-size: 19px;
    margin: 20px 0;
}


p{
    margin-bottom: 15px;
    line-height: 1.7;
}


section,
article{
    padding: 20px 60px;
}


details{
    background: rgba(255,255,255,0.05);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

summary{
    cursor: pointer;
    font-weight: bold;
}


div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

img{
    border-radius: 10px;
    transition: 0.3s;
}

img:hover{
    transform: scale(1.05);
}


div a{
    border: 3px solid #f110f1;
    border-radius: 10px;
    overflow: hidden;
}


#contato ul{
    list-style: none;
}

#contato li{
    margin-bottom: 15px;
}

#contato li a{
    color: white;
    text-decoration: none;
}


footer{
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.8);
    border-top: 2px solid #c94cff;
}


@media(max-width: 768px){

    nav.navbar{
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .menu{
        flex-direction: column;
        align-items: center;
    }

    section,
    article{
        padding: 20px;
    }

    img{
        width: 120px;
        height: auto;
    }

    .logo{
        text-align: center;
        font-size: 22px;
    }
}